<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>展示</title>
</head>

<body>
  <div align="middle">
    <img src="res/logo.png">
    <form method="get">
      <input type="text" maxlength="100" style="width: 500px" name="query" value="age=10">
      <button type="submit">搜索</button>
    </form>
  </div>

  <div align="middle">
    <h2>共搜索到结果约为100个。显示从30起共10个。</h2>

  </div>

  <div align="middle">
    <table>
      <tbody>
        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
        <tr>
          <td>Nick</td>
          <td>34岁</td>
          <td>166cm</td>
          <td>大学</td>
          <td>male</td>
          <td>上海</td>
          <td>厨师</td>
          <td>1000元</td>
        </tr>

        
      </tbody>
    </table>

    <div align="middle">
      
      <a href="search?query=age=10&from=100">上一页</a>
      
      <a href="search?query=age=10&from=200">下一页</a>
    </div>
  </div>

</body>

</html>